@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://use.fontawesome.com/releases/v5.1.0/css/all.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background: transparent;
}

* {
  font-family: "Noto Sans Japanese", sans-serif;
}
