@import "./variables";

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  margin: 0 auto;
}

header,
footer,
body {
  max-width: 60rem;
}

a,
a:visited {
  text-decoration: none;
  color: $clr-font-base;
}

button {
  &:hover {
    cursor: pointer;
    background-color: $clr-bg-normal-hover;
  }
  &.normal {
    background-color: $clr-bg-normal;
    color: $clr-font-normal;
  }
}

.hidden {
  visibility: hidden;
}
