################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/BlazorClient/obj
/BlazorClient/bin/Release/netstandard2.1
