* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-weight: normal;
  border-collapse: collapse;
  color: #202020;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Meiryo", "メイリオ", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0 auto;
}

header,
footer,
body {
  max-width: 60rem;
}

select {
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
  color: #202020;
}

button:hover {
  cursor: pointer;
}

button.normal {
  background-color: blue;
  color: #fff;
}
